This notebook illustrates the basic use of the polling client.  First we import the library and create a client.

In [ ]:
from pollingclient.client import PollingClient
pc = PollingClient()

There are four pieces of data available through the client:
    - Party polling history.
    - Leader rating from Ipsos Mori.
    - An indication of when parties assumed power.
    - General election results for Great Britain (i.e. excluding Northern Ireland)
    
The attributes below return these datasets as pandas dataframes.  The first time you run then they will fetch the data from the web so will take short while.

In [8]:
pc.parties

                            Pollster   Con   Lab    LD  UKIP  Green
Date
1943-06-30                    gallup  36.0  44.0  10.5   0.0    0.0
1943-07-31                    gallup  33.0  47.5  11.0   0.0    0.0
1943-12-31                    gallup  31.5  46.5  11.5   0.0    0.0
1944-01-31                    gallup  28.0  45.0  12.0   0.0    0.0
1945-02-28                    gallup  27.5  47.5  12.5   0.0    0.0
1945-04-30                    gallup  28.0  47.0  14.0   0.0    0.0
1945-05-31                    gallup  33.0  45.0  15.0   0.0    0.0
1945-06-27                    gallup  41.0  47.0  10.5   0.0    0.0
1945-06-30                    gallup  37.0  45.0  15.0   0.0    0.0
1945-06-30  centre of public opinion  45.0  45.0  12.0   0.0    0.0
1946-01-31                    gallup  32.0  52.5  11.0   0.0    0.0
1946-05-31                    gallup  40.0  43.5  13.0   0.0    0.0
1947-01-31                    gallup  41.0  44.5  12.0   0.0    0.0
1947-03-31                    gallup  43.5  43.5  10.5   0.0    0.0
1947-06-30                    gallup  42.5  42.5  12.5   0.0    0.0
1947-07-31                    gallup  42.5  42.5  12.5   0.0    0.0
1947-08-31                    gallup  44.5  41.0  11.0   0.0    0.0
1947-09-30                    gallup  44.5  39.5  11.5   0.0    0.0
1947-11-30                    gallup  50.5  38.0   9.0   0.0    0.0
1948-01-31                    gallup  44.5  43.5  10.5   0.0    0.0
1948-02-29                    gallup  46.0  42.0   8.5   0.0    0.0
1948-03-31                    gallup  46.0  43.0   8.5   0.0    0.0
1948-04-30                    gallup  42.5  41.0  10.5   0.0    0.0
1948-05-31                    gallup  45.0  41.5  11.0   0.0    0.0
1948-07-31                    gallup  48.0  39.5   9.0   0.0    0.0
1948-08-31                    gallup  48.0  41.0   8.5   0.0    0.0
1948-09-30                    gallup  47.5  41.5  10.0   0.0    0.0
1948-10-31                    gallup  46.5  41.5   9.5   0.0    0.0
1948-11-30                    gallup  46.0  43.0   8.5   0.0    0.0
1949-01-31                    gallup  44.0  40.5  13.0   0.0    0.0
...                              ...   ...   ...   ...   ...    ...
2017-05-12                    comres  48.0  30.0  10.0   5.0    3.0
2017-05-12                    yougov  49.0  31.0   9.0   3.0    2.0
2017-05-13                 survation  48.0  30.0   8.0   4.0    2.0
2017-05-14                       gfk  48.0  28.0   7.0   5.0    3.0
2017-05-14                       icm  48.0  28.0  10.0   6.0    3.0
2017-05-15             kantar public  47.0  29.0   8.0   6.0    4.0
2017-05-15                 panelbase  47.0  33.0   7.0   5.0    3.0
2017-05-17                   opinium  46.0  33.0   8.0   5.0    2.0
2017-05-17                ipsos mori  49.0  34.0   7.0   2.0    3.0
2017-05-17                    yougov  45.0  32.0   8.0   6.0    2.0
2017-05-19                    yougov  44.0  35.0   9.0   3.0    2.0
2017-05-20                 survation  46.0  34.0   8.0   3.0    1.0
2017-05-20                 survation  43.0  34.0   8.0   4.0    2.0
2017-05-21                       icm  47.0  33.0   9.0   4.0    2.0
2017-05-22             kantar public  42.0  34.0   9.0   4.0    4.0
2017-05-23                 panelbase  48.0  33.0   7.0   4.0    2.0
2017-05-24                   opinium  45.0  35.0   7.0   5.0    2.0
2017-05-25                    yougov  43.0  38.0  10.0   4.0    1.0
2017-05-26                    yougov  43.0  36.0   9.0   4.0    2.0
2017-05-26                    comres  46.0  34.0   8.0   5.0    2.0
2017-05-26                       icm  46.0  32.0   8.0   5.0    2.0
2017-05-27                 survation  43.0  37.0   8.0   4.0    1.0
2017-05-29                       icm  45.0  33.0   8.0   5.0    3.0
2017-05-30                 yougov[b]  41.0  38.0   9.0   4.0    2.0
2017-05-30             kantar public  43.0  33.0  11.0   4.0    3.0
2017-05-31                 yougov[b]  42.0  38.0   9.0   3.0    2.0
2017-05-31                    yougov  42.0  39.0   7.0   4.0    2.0
2017-06-01                 yougov[b]  42.0  38.0   9.0   3.0    2.0
2017-06-01                 panelbase  44.0  36.0   7.0   5.0    2.0
2017-06-01                ipsos mori  45.0  40.0   7.0   2.0    2.0

[6059 rows x 6 columns]

In [9]:
pc.leaders

                 Item  Sat  Dis
Date
1977-03-01  Callaghan   46   45
1977-03-01      Gov't   27   64
1977-03-01      Steel   41   35
1977-03-01   Thatcher   36   51
1977-10-01  Callaghan   53   37
1977-10-01      Gov't   35   54
1977-10-01      Steel   31   40
1977-10-01   Thatcher   43   40
1978-04-01  Callaghan   64   31
1978-04-01      Gov't   46   46
1978-04-01   Thatcher   54   40
1978-06-01  Callaghan   52   40
1978-06-01      Gov't   34   56
1978-06-01   Thatcher   41   49
1978-07-01  Callaghan   50   42
1978-07-01      Gov't   32   58
1978-07-01   Thatcher   44   44
1978-08-01  Callaghan   51   41
1978-08-01      Gov't   36   54
1978-08-01   Thatcher   41   47
1978-09-01  Callaghan   49   42
1978-09-01  Callaghan   50   41
1978-09-01      Gov't   35   56
1978-09-01      Gov't   36   51
1978-09-01   Thatcher   42   46
1978-09-01   Thatcher   42   45
1978-11-01  Callaghan   54   40
1978-11-01      Gov't   39   53
1978-11-01   Thatcher   38   51
1979-01-01  Callaghan   31   62
...               ...  ...  ...
2016-10-01     Farron   22   34
2016-10-01      Gov't   37   53
2016-10-01        May   48   32
2016-11-01     Corbyn   28   57
2016-11-01     Farron   23   36
2016-11-01      Gov't   43   47
2016-11-01        May   54   30
2016-12-01     Corbyn   26   58
2016-12-01     Farron   27   28
2016-12-01      Gov't   36   53
2016-12-01        May   50   35
2016-12-01    Nuttall   18   35
2017-01-01     Corbyn   26   61
2017-01-01     Farron   23   33
2017-01-01      Gov't   36   56
2017-01-01        May   45   39
2017-01-01    Nuttall   18   36
2017-02-01     Corbyn   24   62
2017-02-01      Gov't   36   54
2017-02-01        May   53   36
2017-03-01     Corbyn   23   64
2017-03-01     Farron   26   36
2017-03-01      Gov't   38   54
2017-03-01        May   52   39
2017-03-01    Nuttall   14   51
2017-04-01     Corbyn   27   62
2017-04-01     Farron   30   37
2017-04-01      Gov't   46   47
2017-04-01        May   56   37
2017-04-01    Nuttall   21   50

[1861 rows x 3 columns]

In [10]:
pc.in_power

              Con    Lab     LD   UKIP  Green
Date
1945-07-05  False   True  False  False  False
1950-02-23  False   True  False  False  False
1951-10-25   True  False  False  False  False
1955-05-26   True  False  False  False  False
1959-10-08   True  False  False  False  False
1964-10-15  False   True  False  False  False
1966-03-31  False   True  False  False  False
1970-06-18   True  False  False  False  False
1974-02-28  False   True  False  False  False
1974-10-10  False   True  False  False  False
1979-05-30   True  False  False  False  False
1983-06-09   True  False  False  False  False
1987-06-11   True  False  False  False  False
1992-04-09   True  False  False  False  False
1997-05-01  False   True  False  False  False
2001-06-07  False   True  False  False  False
2005-05-05  False   True  False  False  False
2010-05-06   True  False   True  False  False
2015-05-07   True  False  False  False  False

In [11]:
pc.general_elections

             Con   Lab    LD  UKIP  Green
Date
1945-05-07  39.3  48.8   9.2   0.0    0.0
1950-02-23  43.0  46.8   9.3   0.0    0.0
1951-10-25  47.8  49.4   2.6   0.0    0.0
1955-05-26  49.3  47.4   2.8   0.0    0.0
1959-08-10  48.8  44.6   6.0   0.0    0.0
1964-10-15  42.9  44.8  11.4   0.0    0.0
1966-03-31  41.4  48.8   8.6   0.0    0.0
1970-06-18  46.2  43.8   7.6   0.0    0.0
1974-02-28  38.6  38.0  19.8   0.0    0.0
1974-10-10  36.6  40.2  18.8   0.0    0.0
1979-05-30  44.9  37.7  14.1   0.0    0.0
1983-09-06  43.5  28.3  26.0   0.0    0.0
1987-11-06  43.3  31.5  23.1   0.0    0.0
1992-09-04  42.8  35.2  18.3   0.0    0.0
1997-01-05  31.0  44.0  17.0   0.0    0.0
2001-07-06  32.7  42.0  18.8   0.0    0.0
2005-05-05  33.2  36.2  22.6   0.0    0.0
2010-06-05  36.9  29.7  23.6   2.3    1.0
2015-07-05  37.7  31.2   8.1  12.9    3.8