In additional to the raw polling data the polling client has a few helper functions to aid analysis, as shown in this notebook.

In [1]:
# First load the client
from pollingclient.client import PollingClient
pc = PollingClient()

In [2]:
pc.list_parties()

['Con', 'Green', 'LD', 'Lab', 'UKIP']

In [8]:
from datetime import datetime
pc.party_in_power("Con", datetime(2017, 3, 6))

True

In [2]:
pc.list_leaders()

['Ashdown',
 'Blair',
 'Brown',
 'Callaghan',
 'Cameron',
 'Campbell',
 'Clegg',
 'Corbyn',
 'Duncan Smith',
 'Farage',
 'Farron',
 'Foot',
 "Gov't",
 'Hague',
 'Harman',
 'Howard',
 'Jenkins',
 'Kennedy',
 'Kinnock',
 'MacLennan',
 'Major',
 'May',
 'Miliband',
 'Nuttall',
 'Owen',
 'Smith',
 'Steel',
 'Thatcher']

In [9]:
pc.get_leader_ratings("Clegg")

            Sat  Dis  Net  DontKnow
Date
2008-01-01   15   18   -3        67
2008-02-01   19   22   -3        59
2008-03-01   19   26   -7        55
2008-04-01   20   25   -5        55
2008-05-01   23   24   -1        53
2008-06-01   33   24    9        43
2008-07-01   32   23    9        45
2008-08-01   33   26    7        41
2008-09-01   32   24    8        44
2008-10-01   35   28    7        37
2008-11-01   34   25    9        41
2008-12-01   35   28    7        37
2009-01-01   34   25    9        41
2009-02-01   35   26    9        39
2009-03-01   38   26   12        36
2009-04-01   39   25   14        36
2009-05-01   45   23   22        32
2009-06-01   39   29   10        32
2009-07-01   44   28   16        28
2009-08-01   42   26   16        32
2009-09-01   48   27   21        25
2009-10-01   44   27   17        29
2009-11-01   41   26   15        33
2009-12-01   40   27   13        33
2010-01-01   42   26   16        32
2010-02-01   44   27   17        29
2010-03-01   45   25   20        30
2010-04-01   68   15   53        17
2010-05-01   53   23   30        24
2010-06-01   53   27   26        20
...         ...  ...  ...       ...
2012-12-01   27   60  -33        13
2013-01-01   28   61  -33        11
2013-02-01   24   64  -40        12
2013-03-01   22   65  -43        13
2013-04-01   21   65  -44        14
2013-05-01   26   63  -37        11
2013-06-01   27   61  -34        12
2013-07-01   27   61  -34        12
2013-08-01   27   62  -35        11
2013-09-01   24   64  -40        12
2013-10-01   31   57  -26        12
2013-11-01   22   65  -43        13
2013-12-01   28   57  -29        15
2014-01-01   29   57  -28        14
2014-02-01   25   64  -39        11
2014-03-01   29   60  -31        11
2014-04-01   29   63  -34         8
2014-05-01   23   66  -43        11
2014-06-01   25   63  -38        12
2014-07-01   23   65  -42        12
2014-08-01   26   64  -38        10
2014-09-01   21   66  -45        13
2014-10-01   25   62  -37        13
2014-11-01   26   62  -36        12
2014-12-01   24   64  -40        12
2015-01-01   25   64  -39        11
2015-02-01   23   64  -41        13
2015-03-01   26   62  -36        12
2015-04-01   27   58  -31        15
2015-04-01   34   55  -21        11

[88 rows x 4 columns]

Leader rating progressions can be compared as below.

In [16]:
pc.compare_ratings(["Clegg", "Kennedy", "Ashdown"], "Net", True)

    Clegg  Kennedy  Ashdown
0    -3.0     11.0       -4
1    -3.0     13.0       -4
2    -7.0     10.0       -3
3    -5.0     17.0        0
4    -1.0     14.0        0
5     9.0     14.0       -2
6     9.0     11.0       -3
7     7.0     14.0       -9
8     8.0     18.0       -6
9     7.0     17.0      -15
10    9.0     14.0      -21
11    7.0     12.0      -24
12    9.0     14.0      -21
13    9.0     25.0      -12
14   12.0     15.0      -22
15   14.0     18.0      -11
16   22.0     17.0      -21
17   10.0     14.0      -13
18   16.0     16.0       -8
19   16.0     18.0       -7
20   21.0     15.0      -11
21   17.0      NaN       -5
22   15.0     42.0      -12
23   13.0     31.0      -11
24   16.0     29.0      -10
25   17.0     32.0        7
26   20.0     29.0        9
27   53.0     29.0        7
28   30.0      NaN        3
29   26.0     37.0       13
..    ...      ...      ...
43  -25.0     13.0       35
44  -28.0     14.0       25
45  -28.0     12.0       20
46  -30.0     10.0       17
47  -22.0     13.0       31
48  -23.0     13.0       20
49  -32.0      6.0       20
50  -27.0     14.0       20
51  -31.0     22.0        7
52  -39.0     21.0       10
53  -37.0     19.0        9
54  -38.0     16.0       14
55  -27.0     19.0       10
56  -43.0     13.0       15
57  -45.0     14.0       22
58  -32.0      8.0       22
59  -33.0     18.0       23
60  -33.0      9.0       25
61  -40.0     14.0       21
62  -43.0     11.0       18
63  -44.0     10.0       16
64  -37.0     14.0       13
65  -34.0     11.0       11
66  -34.0      8.0       15
67  -35.0     10.0        9
68  -40.0      NaN       15
69  -26.0     21.0       24
70  -43.0     20.0       15
71  -29.0     13.0       14
72  -28.0     20.0       19

[73 rows x 3 columns]

In [4]:
pc.list_pollsters()

['angus rs',
 'asl',
 'bmg',
 'bpix',
 'business decisions',
 'centre of public opinion',
 'commr',
 'comres',
 'daily mail',
 'exit poll',
 'forecasting statistics',
 'g9000',
 'gallup',
 'gfk',
 'harris',
 'icm',
 'ipsos mori',
 'kantar public',
 'live st',
 'lord ashcroft',
 'marplan',
 'mfs',
 'mkting sciences',
 'mori',
 'mori q',
 'neilsen',
 'nmr',
 'nop',
 'norstat',
 'onepoll',
 'opinium',
 'orb',
 'orc',
 'panelbase',
 'populus',
 'rasmussen',
 'research serv ltd',
 'research srv',
 'rnb',
 'survation',
 'surveymonkey',
 'tns bmrb',
 'tns-bmrb',
 'yougov',
 'yougov[a]']

The monthly_average method is a simple average of all poll results from that month, it doesn't attempt to adjust for over-representation of particular pollsters.

In [18]:
pc.monthly_average().round(1)

             Con   Lab    LD  UKIP  Green
Date
1943-06-01  36.0  44.0  10.5   0.0    0.0
1943-07-01  33.0  47.5  11.0   0.0    0.0
1943-12-01  31.5  46.5  11.5   0.0    0.0
1944-01-01  28.0  45.0  12.0   0.0    0.0
1945-02-01  27.5  47.5  12.5   0.0    0.0
1945-04-01  28.0  47.0  14.0   0.0    0.0
1945-05-01  33.0  45.0  15.0   0.0    0.0
1945-06-01  41.0  45.7  12.5   0.0    0.0
1946-01-01  32.0  52.5  11.0   0.0    0.0
1946-05-01  40.0  43.5  13.0   0.0    0.0
1947-01-01  41.0  44.5  12.0   0.0    0.0
1947-03-01  43.5  43.5  10.5   0.0    0.0
1947-06-01  42.5  42.5  12.5   0.0    0.0
1947-07-01  42.5  42.5  12.5   0.0    0.0
1947-08-01  44.5  41.0  11.0   0.0    0.0
1947-09-01  44.5  39.5  11.5   0.0    0.0
1947-11-01  50.5  38.0   9.0   0.0    0.0
1948-01-01  44.5  43.5  10.5   0.0    0.0
1948-02-01  46.0  42.0   8.5   0.0    0.0
1948-03-01  46.0  43.0   8.5   0.0    0.0
1948-04-01  42.5  41.0  10.5   0.0    0.0
1948-05-01  45.0  41.5  11.0   0.0    0.0
1948-07-01  48.0  39.5   9.0   0.0    0.0
1948-08-01  48.0  41.0   8.5   0.0    0.0
1948-09-01  47.5  41.5  10.0   0.0    0.0
1948-10-01  46.5  41.5   9.5   0.0    0.0
1948-11-01  46.0  43.0   8.5   0.0    0.0
1949-01-01  44.0  40.5  13.0   0.0    0.0
1949-02-01  44.5  43.5   9.5   0.0    0.0
1949-03-01  41.5  43.0  13.0   0.0    0.0
...          ...   ...   ...   ...    ...
2015-01-01  31.9  33.0   7.4  15.2    6.8
2015-02-01  32.4  33.5   7.6  14.5    6.3
2015-03-01  33.5  33.6   7.7  14.1    5.6
2015-04-01  33.6  33.6   8.3  13.6    5.0
2015-05-01  34.8  32.9   8.8  12.7    4.4
2015-06-01  39.2  29.8   8.0  11.0    5.0
2015-07-01  38.3  31.0   7.7  10.7    5.7
2015-08-01  40.0  30.2   7.2  11.8    4.2
2015-09-01  38.6  31.5   7.2  13.1    3.4
2015-10-01  38.0  31.8   7.2  12.7    3.5
2015-11-01  39.6  30.4   6.9  13.1    3.3
2015-12-01  38.5  31.0   6.8  13.2    4.2
2016-01-01  38.8  31.2   6.5  13.7    3.3
2016-02-01  39.0  30.3   6.8  14.0    3.5
2016-03-01  35.6  33.0   7.1  13.7    3.7
2016-04-01  34.9  32.2   6.6  15.8    3.6
2016-05-01  34.9  31.7   7.0  15.8    4.3
2016-06-01  34.0  31.1   7.4  16.7    4.0
2016-07-01  38.5  30.0   8.4  13.0    3.7
2016-08-01  40.0  29.4   8.1  11.4    4.1
2016-09-01  39.4  29.6   7.4  13.0    3.9
2016-10-01  42.1  27.8   8.4  10.9    4.1
2016-11-01  41.4  29.1   8.1  11.5    3.6
2016-12-01  40.0  27.2  10.4  12.4    3.6
2017-01-01  40.0  27.5   9.8  12.5    3.8
2017-02-01  41.1  25.9  10.4  12.6    3.9
2017-03-01  42.8  26.7  10.0  10.3    3.9
2017-04-01  45.3  26.3  10.6   8.3    3.3
2017-05-01  45.8  32.1   8.7   4.9    2.5
2017-06-01  43.3  37.7   8.0   3.7    1.5

[829 rows x 5 columns]